body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background: #333;
  padding: 10px;
}

nav ul li a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

section {
  padding: 40px;
}

.project {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 30px;
}

.logo h2 {
  color: white;
  margin: 0;
}

.logo span {
  color: rgb(214, 179, 25);
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a:hover {
  color: crimson;
}
